@import 'base';

.class cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  div {
    padding: 20px;
    flex-basis: 20%;
    background-colour: var(--beige);
  }
}

