@import 'base';

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 1500px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  div {
    padding: 20px;
    flex-basis: 15%;
    background-color: var(--beige);
    height: fit-content;
  }
}

.bottombar {
  position: fixed;
  bottom: 0;
  background-color: var(--brown) !important;
  width: 100vw;
  display: flex;

  button {
    height: 80px;
    font-size: 1.4rem;
    width: 200px !important;
  }
}

button, input {
  background: var(--red);
  color: var(--beige);
  font-weight: bold;
  color: #fddf85;
  width: 140px;
}

select {
  border: 1px solid var(--brown);
  border-radius: 0.25em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
