@import 'base';

body {

}

.hero {
  background-image: url("pizzahands.jpg");
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center;
  h1 {
    margin: 20px;
  }
  @include center-column;
  button {
    @include order-button();
  }
}


#order-button {
  @include order-button();
}


.choose {
  background: var(--beige);
  @include center-column();
  height: 40vh;
  width: 500px;
}

.delivery-or-collection {
  display: flex;
  flex-direction: horizontal;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.pizza_orders {
  margin-left: auto;
  margin-right: auto;
  div {
    background-color: var(--beige);
    border-radius: 18px;
    width: 900px;
    height: 400px
    img {
      padding: 20px;
      border-radius: 16px;
    }
  }
}

.form {
  input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    padding: 16px 24px;
    width: 90%;
    height: 15%;
    left: 1048px;
    top: 16px;
    background: #FEFEFE;
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    border-radius: 16px;
    transition: 0.2s;

    &:focus {
      background: #FFFFFF;
    }
  }

  textarea {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    padding: 16px 24px;
    width: 90%;
    height: 15%;
    left: 1048px;
    top: 16px;
    background: #FEFEFE;
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    border-radius: 16px;
    transition: 0.2s;

    &:focus {
      background: #FFFFFF;
    }
  }

  #id_cvv, #id_expiry_date {
    width: 150px;
  }

  #id_submit {
    background: var(--red);
    transition: 0.2 ease all;
    font-weight: bold;
    color: var(--beige);
    &:hover {
      color: white;
    }
  }
}

.inline {
  display: inline-block;
}

.margin {
  margin-left: auto;
  margin-right: auto;
}

