:root {
	--navy: #033240;
	--blue: #25aae1;
	--green: #3f935a;
	--green-trans: rgba(46, 139, 87, 0.5);
  --yellow: #fed363;
  --yellow-highlight: #fffbf1;
	--yellow-desat: #fff7e0;
  --beige: #f7edd3;
  --brown: #483729cc;
  --red: #ff2420;
  --red-trans: rgba(255, 36, 32, 0.5);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$transition-time: 0.3s;

@mixin center-column() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



html * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
body {
  background-color: var(--yellow-highlight);
}

.centered {
  @include center-column;
}


nav {
  background-color: var(--brown);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  li {
    color: white;
    font-weight: 550;
  }
  img {
    height: 90%;
    padding: 5px;
  }
  a {
    margin: auto 20px;
    text-decoration: none;
    transition: all $transition-time ease;;
    &:hover {
      font-size: 1.2rem;
    }
    button {
      background: var(--red);
      border: none;
      border-radius: 18px 18px 18px 18px;
      padding: 10px 20px;
      color: #fddf85;
      font-weight: 600;
      transition: all $transition-time ease;
      &:hover {
        border-radius: 12px 4px 12px 4px;
	font-weight: 700;
      }
    }
  }
}
