@import 'base';

body {

}

.hero {
  background-image: url("pizzahands.jpg");
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center;
  h1 {
    margin: 20px;
  }
  @include center-column;
  button {
    margin: 20px 5px;
    width: 160px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background: var(--red);
    border: none;
    transition: all $transition-time ease;
    border-radius: 18px 18px 18px 18px;
    &:hover {
      transform: translateY(-3px);
      border-radius: 12px 4px 12px 4px;
      width: 180px;
      height: 50px;
      font-size: 2rem;
    }
  }
}

.choose {
  background: var(--beige);
  @include center-column();
  height: 40vh;
  width: 500px;
}

.delivery-or-collection {
  display: flex;
  flex-direction: horizontal;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.pizza_orders {
  margin-left: auto;
  margin-right: auto;
  div {
    background-color: var(--beige);
    width: 900px;
    height: 400px
    img {
      padding: 20px;
    }
  }
}
