{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
    <link href="{% sass_src '_all_pizzas.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="body">
<div class="cards">
  <div>
    <h3>Create Your Own</h3>
    <img src="images/create-your-own.webp">
    <p>min. price: 8.50</p>
     <div style="display: flex; flex-grow: 1; justify-content: center;">
    <a href="{% url 'create_pizza' %}" ><button style="height: 40px;">Get started</button></a>
    </div>
  </div>

  {% for pizza in pizzas %}
    <div>
    <h3>{{pizza.name}}</h3>
    <img src={{pizza.image}}>
    <p>{{pizza.price}}</p>

    <form action="{% url 'all_pizzas' %}" method="post">
      {% csrf_token %}
     <div style="display: flex; width: auto;">
     <div style="padding: 0;">
     <label>Size:<br></label>
     {{form.size}}
     </div>
      <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
      <input type="submit"></div>
    </form>
    </div>

  {% endfor %}


</div>
</div>
<div class="bottombar">
  <a href={% url 'basket' %}><button>View Basket</button></a>
</div>
{% endblock %}
