{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
        {% block css %}{% endblock %}
        </head>
	<body>
    <nav>
      <img src="{% static 'cleanlogo.png' %}">
      <ul>
        <li>Order Online</li>
        <li>Deals</li>
        <li>Customer Service</li>
      </ul>
      {% if user.is_authenticated  %}
      <a href="{% url 'logout' %}"><button>Logout</button></a>
      {% else  %}
      <a href="{% url 'login' %}"><button>Login/Register</button></a>
      {% endif %}
    </nav>
	{% block content %}
	{% endblock %}
	</body>
</html>

