{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}

    <link href="{% sass_src '_index.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}
    Delivery Info
{% endblock %}

{% block content %}
<h1>Woooo</h1>
<p>Expected arrival:{{delivery_time}}</p>

<div class="pizza_orders">
{% for pizza in basket.items.all %}
    <div style="display: flex; margin: 20px; padding: 20px;">
      <img src="../{{pizza.image}}">
      <div>
        <h1>{{pizza.name}} {{pizza.toppings.all}}</h1>
        <p>{{piza.price}}</p>
        {% for topping in pizza.toppings.all %}
          <p>{{topping.name}}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
