{% extends 'base.html' %}

{% load sass_tags %}
{% block css %}
    <link href="{% sass_src '_index.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div class="hero">
  <div class="choose">
    <h1>Orders Straight to You Door</h1>
    <p>Would you like to order for:</p>
    <div class="">
      <a href="{% url 'all_pizzas' %}"><button style="background: blue;">Place Order</button></a>
    </div>
  </div>
</div>
<div class="previous">
{% if user.is_authenticated  %}
<div class="centered">
  <h1>Order Again:</h1>
</div>
  {% for order in baskets %}
  <div class="order-card">
    <p>Number of pizzas ordered: {{order.items.all|length}}</p>
    {% for pizza in order.items.all %}
      <p>{{pizza.name}}</p>
    {% endfor %}
    <p>{{order.price}}</p>
  </div>
  {% endfor %}
{% else  %}
<div class="centered" style="margin: 30px 10px">
  <h1><a href="{% url 'login' %}">Sign in</a> to see previous orders</h1>
</div>
{% endif %}

</div>
{% endblock %}
