{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src '_index.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div class="hero">
  <div class="choose">
    <h1>Orders Straight to You Door</h1>
    <div class="">
      <a href="{% url 'all_pizzas' %}"><button id="order-button">Place Order</button></a>
    </div>
  </div>
</div>
<div class="previous">
{% if user.is_authenticated  %}
<div class="centered">
  <h1>Order Again:</h1>
{% for order in baskets %}
  <h3>Number of pizzas ordered: {{order.items.all|length}}</h3>
  <div class="pizza_orders">
    {% for pizza in order.items.all %}
    <div style="display: flex; margin: 20px; padding: 20px;">
      <img src={{pizza.image}}>
      <div class="centered">
        <h1>{{pizza.name}}</h1>
	<p>{{pizza.description}}</p>
        <p>{{piza.price}}</p>
        {% for topping in pizza.toppings.all %}
          <p>{{topping.name}}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <p>{{pizza.name}}</p>
{% endfor %}
<p>{{order.price}}</p>
</div>
</div>
{% else  %}
<div class="centered" style="margin: 30px 10px">
  <h1><a href="{% url 'login' %}">Sign in</a> to see previous orders</h1>
</div>
{% endif %}

</div>
{% endblock %}
