{% extends 'base.html' %}

{% load sass_tags %}
{% block css %}

    <link href="{% sass_src '_user_signup.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}
    User Login
{% endblock %}

{%  block content %}
   <div class="login-container">
        <div class="login-form">
            <form action="." method="POST">
                {% csrf_token %}
                <div class="form-box">
                  <label for="username">Email:</label>
                  {{ form.username }}
                  <label for="password">Password:</label>
                  {{ form.password }}
                  <button type="submit">SUBMIT</button>
                </div>
            </form>
            <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
   </div>
{%  endblock %}
