@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --navy: #033240;
  --blue: #25aae1;
  --green: #3f935a;
  --green-trans: rgba(46, 139, 87, 0.5);
  --yellow: #fed363;
  --yellow-highlight: #fffbf1;
  --yellow-desat: #fff7e0;
  --beige: #f7edd3;
  --brown: #483729cc;
  --red: #F04040;
  --red-trans: rgba(255, 36, 32, 0.5); }

#order-button {
  margin: 20px 5px;
  width: 160px;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background: var(--red);
  border: none;
  transition: all 0.3s ease;
  border-radius: 18px 18px 18px 18px; }
  #order-button:hover {
    transform: translateY(-3px);
    border-radius: 12px 4px 12px 4px;
    width: 180px;
    height: 50px;
    font-size: 2rem; }

html * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }

body {
  background-color: var(--yellow-highlight); }

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

nav {
  background-color: var(--brown);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 100%; }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
    list-style: none; }
  nav li {
    color: white;
    font-weight: 550; }
  nav img {
    height: 90%;
    padding: 5px; }
  nav a {
    margin: auto 20px;
    text-decoration: none;
    transition: all 0.3s ease; }
    nav a:hover {
      font-size: 1.2rem; }
    nav a button {
      background: var(--red);
      border: none;
      border-radius: 18px 18px 18px 18px;
      padding: 10px 20px;
      color: #fddf85;
      font-weight: 600;
      transition: all 0.3s ease; }
      nav a button:hover {
        border-radius: 12px 4px 12px 4px;
        font-weight: 700; }

.hero {
  background-image: url("pizzahands.jpg");
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h1 {
    margin: 20px; }
  .hero button {
    margin: 20px 5px;
    width: 160px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background: var(--red);
    border: none;
    transition: all 0.3s ease;
    border-radius: 18px 18px 18px 18px; }
    .hero button:hover {
      transform: translateY(-3px);
      border-radius: 12px 4px 12px 4px;
      width: 180px;
      height: 50px;
      font-size: 2rem; }

#delivery-screen {
  background-image: url("your_pizza.webp") !important; }
  #delivery-screen div {
    max-height: 250px; }

#order-button {
  margin: 20px 5px;
  width: 160px;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background: var(--red);
  border: none;
  transition: all 0.3s ease;
  border-radius: 18px 18px 18px 18px; }
  #order-button:hover {
    transform: translateY(-3px);
    border-radius: 12px 4px 12px 4px;
    width: 180px;
    height: 50px;
    font-size: 2rem; }

.choose {
  background: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 500px; }

.delivery-or-collection {
  display: flex;
  flex-direction: horizontal;
  gap: 20px;
  justify-content: center;
  align-items: center; }

.pizza_orders {
  margin-left: auto;
  margin-right: auto; }
  .pizza_orders div {
    background-color: var(--beige);
    border-radius: 18px;
    width: 900px;
    height: 400px img;
      height-padding: 20px;
      height-border-radius: 16px; }

.form input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 5px 12px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #FEFEFE;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s; }
  .form input:focus {
    background: #FFFFFF; }

.form textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 16px 24px;
  width: 90%;
  left: 1048px;
  top: 16px;
  background: #FEFEFE;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s; }
  .form textarea:focus {
    background: #FFFFFF; }

.form #id_cvv, .form #id_expiry_date {
  width: 150px; }

.form #id_submit {
  background: var(--red);
  transition: 0.2 ease all;
  font-weight: bold;
  color: var(--beige); }
  .form #id_submit:hover {
    color: white; }

.inline {
  display: inline-block; }

.margin {
  margin-left: auto;
  margin-right: auto; }

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cards {
  width: 1500px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
  .cards div {
    padding: 20px;
    flex-basis: 15%;
    background-color: var(--beige);
    border-radius: 18px;
    height: fit-content; }

.bottombar {
  position: fixed;
  bottom: 0;
  background-color: var(--brown) !important;
  width: 100vw;
  display: flex; }
  .bottombar button {
    height: 80px;
    font-size: 1.4rem;
    width: 200px !important; }

button, input {
  background: var(--red);
  color: var(--beige);
  font-weight: bold;
  color: #fddf85;
  width: 140px;
  border-radius: 8px;
  border: none;
  margin: 2px; }

select {
  margin: 2px;
  border: 1px solid var(--brown);
  border-radius: 0.25em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%); }

/*# sourceMappingURL=_all_pizzas.css.map */