@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --navy: #033240;
  --blue: #25aae1;
  --green: #3f935a;
  --green-trans: rgba(46, 139, 87, 0.5);
  --yellow: #fed363;
  --yellow-highlight: #fffbf1;
  --yellow-desat: #fff7e0;
  --beige: #f7edd3;
  --brown: #483729cc;
  --red: #F04040;
  --red-trans: rgba(255, 36, 32, 0.5); }

#order-button {
  margin: 20px 5px;
  width: 160px;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background: var(--red);
  border: none;
  transition: all 0.3s ease;
  border-radius: 18px 18px 18px 18px; }
  #order-button:hover {
    transform: translateY(-3px);
    border-radius: 12px 4px 12px 4px;
    width: 180px;
    height: 50px;
    font-size: 2rem; }

html * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }

body {
  background-color: var(--yellow-highlight); }

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

nav {
  background-color: var(--brown);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 100%; }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
    list-style: none; }
  nav li {
    color: white;
    font-weight: 550; }
  nav img {
    height: 90%;
    padding: 5px; }
  nav a {
    margin: auto 20px;
    text-decoration: none;
    transition: all 0.3s ease; }
    nav a:hover {
      font-size: 1.2rem; }
    nav a button {
      background: var(--red);
      border: none;
      border-radius: 18px 18px 18px 18px;
      padding: 10px 20px;
      color: #fddf85;
      font-weight: 600;
      transition: all 0.3s ease; }
      nav a button:hover {
        border-radius: 12px 4px 12px 4px;
        font-weight: 700; }

.form {
  display: flex; }

.form > div > div {
  background-color: var(--yellow-desat);
  margin: 5px; }

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
  padding: 30px; }

.form {
  width: 100%;
  max-width: 600px; }

.group {
  background-color: var(--beige);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px; }

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-beige);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; }

input[type="submit"]:hover {
  background-color: var(--beige); }

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-beige);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; }

.submit-button:hover {
  background-color: var(--beige); }

#create-submit {
  padding: 10px;
  margin: auto;
  background: var(--red);
  margin-top: 50px;
  color: #fddf85;
  font-weight: bold; }

/*# sourceMappingURL=_create_pizza.css.map */